.header {
    display: flex;
    justify-content: center;
}
.contact {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
   margin-left: 4rem;
}
.contact-items {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.contact-item {
    font-weight: bold;
}